#gbsfw {
    min-width: 400px;
    overflow: visible
}
.gb_Eb,#gbsfw.gb_g {
    display: block;
    outline: none
}
#gbsfw.gb_qa iframe {
    display: none
}
.gb_Fb {
    padding: 118px 0;
    text-align: center
}
.gb_Hb {
    background: no-repeat center 0;
    color: #aaa;
    font-size: 13px;
    line-height: 20px;
    padding-top: 76px;
    background-image: -webkit-image-set(url('//ssl.gstatic.com/gb/images/a/f5cdd88b65.png') 1x,url('//ssl.gstatic.com/gb/images/a/133fc21e88.png') 2x)
}
.gb_Hb a {
    color: #4285f4;
    text-decoration: none
}
@-webkit-keyframes gb__a {
    0% {
    opacity: 0
}
50% {
    opacity: 1
}
}@keyframes gb__a {
    0% {
    opacity: 0
}
50% {
    opacity: 1
}
}.gb_Xa {
    display: none!important
}
.gb_Vc {
    display: inline-block;
    padding: 0 0 0 15px;
    vertical-align: middle
}
.gb_Vc: first-child,#gbsfw: first-child+.gb_Vc {
    padding-left: 0
}
.gb_jc {
    position: relative
}
.gb_b {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: default;
    text-decoration: none
}
#gb#gb a.gb_b {
    color: #000;
    cursor: default;
    text-decoration: none
}
.gb_ab {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 6.5px;
    top: 37px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s
}
.gb_bb {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 6.5px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    top: 36px
}
x: -o-prefocus,div.gb_bb {
    border-bottom-color: #ccc
}
.gb_ga {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    display: none;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 44px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text
}
.gb_Vc.gb_g .gb_ab,.gb_Vc.gb_g .gb_bb,.gb_Vc.gb_g .gb_ga,.gb_g.gb_ga {
    display: block
}
.gb_Vc.gb_g.gb_wd .gb_ab,.gb_Vc.gb_g.gb_wd .gb_bb {
    display: none
}
.gb_xd {
    position: absolute;
    right: 0;
    top: 44px;
    z-index: -1
}
.gb_1a .gb_ab,.gb_1a .gb_bb,.gb_1a .gb_ga {
    margin-top: -10px
}
.gb_ub .gb_bb {
    border: 0;
    border-left: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
    height: 14px;
    width: 14px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.gb_ub .gb_ab {
    border: 0;
    border-left: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
    height: 14px;
    width: 14px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-color: #fff;
    background: #fff
}
.gb_Sd : : -webkit-scrollbar {
    height: 15px;
    width: 15px
}
.gb_Sd : : -webkit-scrollbar-button {
    height: 0;
    width: 0
}
.gb_Sd : : -webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0,0,0,.3);
    border: 5px solid transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    height: 5px;
    width: 5px
}
.gb_Sd : : -webkit-scrollbar-thumb: hover,.gb_Sd : : -webkit-scrollbar-thumb: active {
    background-color: rgba(0,0,0,.4)
}
.gb_ea .gb_b {
    background-position: -60px -1627px;
    opacity: .55
}
.gb_fa .gb_ea .gb_b {
    background-position: -60px -1627px
}
.gb_X .gb_ea .gb_b {
    background-position: 0 -69px;
    opacity: 1
}
.gb_ga.gb_ha {
    min-height: 196px;
    overflow-y: auto;
    width: 320px
}
.gb_ia {
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out
}
.gb_ja {
    background: #fff;
    margin: 0;
    min-height: 100px;
    padding: 28px;
    padding-right: 27px;
    text-align: left;
    white-space: normal;
    width: 265px
}
.gb_ka {
    background: #f5f5f5;
    cursor: pointer;
    height: 40px;
    overflow: hidden
}
.gb_la {
    position: relative
}
.gb_ka {
    display: block;
    line-height: 40px;
    text-align: center;
    width: 320px
}
.gb_la {
    display: block;
    line-height: 40px;
    text-align: center
}
.gb_la.gb_ma {
    line-height: 0
}
.gb_ka,.gb_ka: visited,.gb_ka: active,.gb_la,.gb_la: visited {
    color: #737373;
    text-decoration: none
}
.gb_la: active {
    color: #737373
}
#gb a.gb_ka,#gb a.gb_ka: visited,#gb a.gb_ka: active,#gb a.gb_la,#gb a.gb_la: visited {
    color: #737373;
    text-decoration: none
}
#gb a.gb_la: active {
    color: #737373
}
.gb_la,.gb_ja {
    display: none
}
.gb_ca,.gb_ca+.gb_la,.gb_na .gb_la,.gb_na .gb_ja {
    display: block
}
.gb_la: hover,.gb_la: active,#gb a.gb_la: hover,#gb a.gb_la: active {
    text-decoration: underline
}
.gb_la {
    border-bottom: 1px solid #ebebeb;
    left: 28px;
    width: 264px
}
.gb_na .gb_ka {
    display: none
}
.gb_la: last-child {
    border-bottom-width: 0
}
.gb_oa .gb_O {
    display: initial
}
.gb_oa.gb_pa {
    height: 100px;
    text-align: center
}
.gb_oa.gb_pa img {
    padding: 34px 0;
    height: 32px;
    width: 32px
}
.gb_oa .gb_3 {
    background-image: url('//ssl.gstatic.com/gb/images/v1_4593b7d7.png');
    -webkit-background-size: 92px 2460px;
    background-size: 92px 2460px;
    background-position: 0 -552px
}
.gb_oa .gb_3+img {
    border: 0;
    margin: 8px;
    height: 48px;
    width: 48px
}
.gb_oa div.gb_qa {
    background: #ffa;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center
}
.gb_oa.gb_ra,.gb_oa.gb_sa {
    padding-bottom: 0
}
.gb_oa.gb_ta,.gb_oa.gb_sa {
    padding-top: 0
}
.gb_oa.gb_sa a,.gb_oa.gb_ta a {
    top: 0
}
.gb_ua .gb_ka {
    margin-top: 0;
    position: static
}
.gb_va {
    display: inline-block
}
.gb_wa {
    margin: -12px 28px 28px;
    position: relative;
    width: 264px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1)
}
.gb_5 {
    background-image: url('//ssl.gstatic.com/gb/images/v1_4593b7d7.png');
    -webkit-background-size: 92px 2460px;
    background-size: 92px 2460px;
    display: inline-block;
    margin: 8px;
    vertical-align: middle;
    height: 64px;
    width: 64px
}
.gb_xa {
    color: #262626;
    display: inline-block;
    font: 13px/18px Arial,sans-serif;
    margin-right: 80px;
    padding: 10px 10px 10px 0;
    vertical-align: middle;
    white-space: normal
}
.gb_ya {
    font: 16px/24px Arial,sans-serif
}
.gb_za,#gb#gb .gb_za {
    color: #427fed;
    text-decoration: none
}
.gb_za: hover,#gb#gb .gb_za: hover {
    text-decoration: underline
}
.gb_Aa .gb_ja {
    position: relative
}
.gb_Aa .gb_O {
    position: absolute;
    top: 28px;
    left: 28px
}
.gb_ka.gb_Ba {
    display: none;
    height: 0
}
.gb_N .gb_ea .gb_b: : before,.gb_N.gb_fa .gb_ea .gb_b: : before {
    left: -60px;
    top: -1627px
}
.gb_N.gb_X .gb_ea .gb_b: : before {
    left: 0;
    top: -69px
}
.gb_ub .gb_ka {
    position: relative
}
.gb_ea .gb_b: hover,.gb_ea .gb_b: focus {
    opacity: .85
}
.gb_X .gb_ea .gb_b: hover,.gb_X .gb_ea .gb_b: focus {
    opacity: 1
}
@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gb_oa .gb_3 {
    background-image: url('//ssl.gstatic.com/gb/images/v2_75874709.png')
}
}#gb#gb a.gb_O {
    color: #404040;
    text-decoration: none
}
#gb#gb a.gb_P,#gb#gb span.gb_P {
    text-decoration: none
}
#gb#gb a.gb_P,#gb#gb span.gb_P {
    color: #000
}
.gb_P {
    opacity: .75
}
#gb#gb a.gb_P: hover,#gb#gb a.gb_P: focus {
    opacity: .85;
    text-decoration: underline
}
.gb_Q.gb_R {
    display: none;
    padding-left: 15px;
    vertical-align: middle
}
.gb_Q.gb_R: first-child {
    padding-left: 0
}
.gb_S.gb_R {
    display: inline-block
}
.gb_Q span {
    opacity: .55;
    -webkit-user-select: text
}
.gb_T .gb_S.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;
    display: -webkit-flex;
    display: flex
}
.gb_U .gb_S.gb_R {
    display: none
}
.gb_Q .gb_P {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle
}
.gb_S .gb_P {
    min-width: 60px;
    overflow: hidden;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size;
    text-overflow: ellipsis
}
.gb_V .gb_S .gb_P {
    min-width: 0
}
.gb_W .gb_S .gb_P {
    width: 0!important
}
#gb#gb.gb_X a.gb_P,#gb#gb.gb_X span.gb_P,#gb#gb .gb_X a.gb_P,#gb#gb .gb_X span.gb_P {
    color: #fff
}
#gb#gb.gb_X span.gb_P,#gb#gb .gb_X span.gb_P {
    opacity: .7
}
.gb_M.gb_M {
    -webkit-background-size: 64px 64px;
    background-size: 64px 64px
}
#gb2 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')
}
.gb_N #gb2 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')
}
#gb22 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/3daf4c1f88.png')
}
.gb_N #gb22 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/3daf4c1f88.png')
}
#gb45 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')
}
.gb_N #gb45 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')
}
#gb72 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/78b3d46de1.png')
}
.gb_N #gb72 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/78b3d46de1.png')
}
#gb117 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/142da27578.png')
}
.gb_N #gb117 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/142da27578.png')
}
#gb136 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')
}
.gb_N #gb136 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')
}
#gb166 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/5d03e9e245.png')
}
.gb_N #gb166 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/5d03e9e245.png')
}
#gb171 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/4244245d7e.png')
}
.gb_N #gb171 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/4244245d7e.png')
}
#gb177 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')
}
.gb_N #gb177 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')
}
#gb206 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/ad330d8459.png')
}
.gb_N #gb206 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/ad330d8459.png')
}
#gb207 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/2c21041e16.png')
}
.gb_N #gb207 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/2c21041e16.png')
}
#gb211 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')
}
.gb_N #gb211 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')
}
#gb217 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')
}
.gb_N #gb217 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')
}
#gb228 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')
}
.gb_N #gb228 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')
}
#gb249 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')
}
.gb_N #gb249 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')
}
#gb260 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/ea554714e7.png')
}
.gb_N #gb260 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/ea554714e7.png')
}
#gb261 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')
}
.gb_N #gb261 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')
}
#gb108 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/dfbeb24785.png')
}
.gb_N #gb108 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/dfbeb24785.png')
}
#gb60 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/85bb99a341.png')
}
.gb_N #gb60 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/85bb99a341.png')
}
#gb175 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/eacd033c28.png')
}
.gb_N #gb175 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/eacd033c28.png')
}
@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    #gb2 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/438087d3df.png')
}
.gb_N #gb2 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/438087d3df.png')
}
#gb22 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/cfa67efcd3.png')
}
.gb_N #gb22 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/cfa67efcd3.png')
}
#gb45 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')
}
.gb_N #gb45 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')
}
#gb72 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/90f42e515b.png')
}
.gb_N #gb72 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/90f42e515b.png')
}
#gb117 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')
}
.gb_N #gb117 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')
}
#gb136 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')
}
.gb_N #gb136 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')
}
#gb166 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/56c3072e8e.png')
}
.gb_N #gb166 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/56c3072e8e.png')
}
#gb171 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/1b217ae532.png')
}
.gb_N #gb171 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/1b217ae532.png')
}
#gb177 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')
}
.gb_N #gb177 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')
}
#gb206 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/20808fb750.png')
}
.gb_N #gb206 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/20808fb750.png')
}
#gb207 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/6d9eaee7f9.png')
}
.gb_N #gb207 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/6d9eaee7f9.png')
}
#gb211 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')
}
.gb_N #gb211 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')
}
#gb217 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')
}
.gb_N #gb217 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')
}
#gb228 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')
}
.gb_N #gb228 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')
}
#gb249 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/d54db42004.png')
}
.gb_N #gb249 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/d54db42004.png')
}
#gb260 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/99be7c5086.png')
}
.gb_N #gb260 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/99be7c5086.png')
}
#gb261 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/9001dae971.png')
}
.gb_N #gb261 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/9001dae971.png')
}
#gb108 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/ca7b209615.png')
}
.gb_N #gb108 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/ca7b209615.png')
}
#gb60 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/e000432278.png')
}
.gb_N #gb60 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/e000432278.png')
}
#gb175 .gb_M {
    background-image: url('//ssl.gstatic.com/gb/images/a/84d52a8885.png')
}
.gb_N #gb175 .gb_M: : before {
    content: url('//ssl.gstatic.com/gb/images/a/84d52a8885.png')
}
}.gb_Z {
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    color: black;
    z-index: 999;
    height: 98px;
    width: 86px
}
.gb_Z a {
    text-decoration: none
}
.gb_Z[aria-grabbed=true] {
    visibility: hidden
}
.gb_Z: hover: not(.gb_0) {
    z-index: 1001
}
.gb_Z: hover: not(.gb_0) a {
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 7px 1px
}
.gb_Z.gb_1: not(.gb_0) a {
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1)
}
.gb_Z.gb_1 a {
    background: #fff;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    margin: -1px;
    visibility: visible;
    z-index: 1001
}
.gb_2 {
    opacity: .5
}
.gb_Z.gb_1 a {
    color: #404040!important;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    font: 13px/27px Arial,sans-serif;
    text-decoration: none!important
}
.gb_O {
    color: #404040;
    display: inline-block;
    font-size: 13px;
    margin: 8px 2px;
    text-align: center;
    outline: none
}
.gb_O .gb_3,.gb_O .gb_M {
    display: inline-block;
    vertical-align: top;
    height: 64px;
    width: 64px
}
.gb_4 {
    display: block;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 84px;
    text-overflow: ellipsis
}
.gb_Z: hover .gb_O {
    z-index: 1
}
.gb_Z: hover .gb_4 {
    background: rgba(255,255,255,.9);
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word
}
.gb_O.gb_0 {
    cursor: default;
    filter: url("data: image/svg+xml;
    utf8,\00003csvg xmlns=\000027http: //www.w3.org/2000/svg\000027\00003e\00003cfilter id=\000027g\000027\00003e\00003cfeColorMatrix values=\0000270.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\000027/\00003e\00003c/filter\00003e\00003c/svg\00003e#g");
    -webkit-filter: grayscale(1);
    opacity: .4
}
.gb_O .gb_3 {
    background-image: url('//ssl.gstatic.com/gb/images/v1_4593b7d7.png');
    -webkit-background-size: 92px 2460px;
    background-size: 92px 2460px
}
.gb_N .gb_O .gb_3,.gb_N .gb_5.gb_3 {
    background-image: none;
    overflow: hidden;
    position: relative
}
.gb_N .gb_O .gb_3: : before,.gb_N .gb_5.gb_3: : before {
    content: url('//ssl.gstatic.com/gb/images/v1_4593b7d7.png');
    position: absolute
}
.gb_N .gb_M {
    background-image: none!important;
    position: relative
}
.gb_N .gb_M: : before {
    left: 0;
    position: absolute;
    top: 0
}
@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gb_O .gb_3 {
    background-image: url('//ssl.gstatic.com/gb/images/v2_75874709.png')
}
.gb_N .gb_O .gb_3: : before {
    content: url('//ssl.gstatic.com/gb/images/v2_75874709.png');
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}
.gb_N .gb_O .gb_M: : before {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}
}.gb_6 .gb_O: focus,#gb#gb .gb_6 a.gb_O: focus {
    text-decoration: underline
}
.gb_Z[aria-grabbed=true].gb_7 {
    visibility: visible
}
.gb_8,.gb_9 {
    position: relative;
    top: 27px;
    visibility: hidden
}
.gb_aa,.gb_ba {
    left: 37px;
    visibility: hidden
}
.gb_8 {
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #4273db
}
.gb_9 {
    float: right;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4273db
}
.gb_aa {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4273db
}
.gb_ba {
    position: absolute;
    top: 59px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4273db
}
ul.gb_ca li.gb_7: not(: first-child) .gb_8,ul.gb_ca li.gb_7: not(: nth-child(-n+3)) .gb_aa,ul.gb_ca li.gb_7 .gb_9,ul.gb_ca li.gb_7 .gb_ba,ul.gb_da li.gb_7 .gb_8,ul.gb_da li.gb_7 .gb_aa,ul.gb_da li.gb_7: not(: last-child) .gb_9,ul.gb_da li.gb_7: not(: nth-last-child(-n+3)) .gb_ba {
    visibility: visible
}
.gb_Ca {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.gb_Da {
    background: #f8f8f8;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.gb_Ca,#gb a.gb_Ca.gb_Ca,.gb_Da {
    color: #666;
    cursor: default;
    text-decoration: none
}
#gb a.gb_Da.gb_Da {
    cursor: default;
    text-decoration: none
}
.gb_Da {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0)
}
#gb a.gb_Da.gb_Da {
    color: #fff
}
.gb_Da: hover {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15)
}
.gb_Da: active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    background: #3c78dc;
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background: linear-gradient(top,#3c7ae4,#3f76d3);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0)
}
.gb_yd {
    display: inline-block;
    line-height: normal;
    position: relative;
    z-index: 987
}
.gb_Za {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px
}
@media (min-resolution: 1.25dppx),(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gb_Za: : before {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left 0;
    transform-origin: left 0
}
.gb_jb: : before {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left 0;
    transform-origin: left 0
}
}.gb_Za: hover,.gb_Za: focus {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15)
}
.gb_Za: active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15)
}
.gb_Za: active: : after {
    background: rgba(0,0,0,.1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%
}
.gb_0a {
    cursor: pointer;
    line-height: 30px;
    min-width: 30px;
    opacity: .75;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis
}
.gb_b.gb_0a {
    width: auto
}
.gb_0a: hover,.gb_0a: focus {
    opacity: .85
}
.gb_1a .gb_0a,.gb_1a .gb_2a {
    line-height: 26px
}
#gb#gb.gb_1a a.gb_0a,.gb_1a .gb_2a {
    font-size: 11px;
    height: auto
}
.gb_3a {
    border-top: 4px solid #000;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    opacity: .75;
    vertical-align: middle
}
.gb_4a: hover .gb_3a {
    opacity: .85
}
.gb_X .gb_0a,.gb_X .gb_3a {
    opacity: 1
}
#gb#gb.gb_X.gb_X a.gb_0a,#gb#gb .gb_X.gb_X a.gb_0a {
    color: #fff
}
.gb_X.gb_X .gb_3a {
    border-top-color: #fff;
    opacity: 1
}
.gb_fa .gb_Za: hover,.gb_X .gb_Za: hover,.gb_fa .gb_Za: focus,.gb_X .gb_Za: focus {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}
.gb_5a .gb_6a,.gb_7a .gb_6a {
    position: absolute;
    right: 1px
}
.gb_6a.gb_R,.gb_8a.gb_R,.gb_4a.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size
}
.gb_9a.gb_W .gb_0a {
    width: 30px!important
}
.gb_0a~.gb_ab,.gb_0a~.gb_bb {
    left: auto;
    right: 6.5px
}
.gb_cb {
    outline: none
}
.gb_db,#gb a.gb_db.gb_db,.gb_eb a,#gb .gb_eb.gb_eb a {
    color: #36c;
    text-decoration: none
}
.gb_db: active,#gb a.gb_db: active,.gb_db: hover,#gb a.gb_db: hover,.gb_eb a: active,#gb .gb_eb a: active,.gb_eb a: hover,#gb .gb_eb a: hover {
    text-decoration: underline
}
.gb_fb {
    margin: 20px
}
.gb_gb,.gb_hb {
    display: inline-block;
    vertical-align: top
}
.gb_gb {
    margin-right: 20px;
    position: relative
}
.gb_ib {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translateZ(0)
}
.gb_jb {
    -webkit-background-size: 96px 96px;
    background-size: 96px 96px;
    border: none;
    vertical-align: top;
    height: 96px;
    width: 96px
}
.gb_kb {
    background: rgba(78,144,254,.7);
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 9px;
    position: absolute;
    padding: 7px 0;
    text-align: center;
    width: 96px
}
.gb_ib .gb_kb {
    background: rgba(0,0,0,.54)
}
.gb_lb {
    font-weight: bold;
    margin: -4px 0 1px 0
}
.gb_mb {
    color: #666
}
.gb_eb {
    color: #ccc;
    margin: 6px 0
}
.gb_eb a {
    margin: 0 10px
}
.gb_eb a: first-child {
    margin-left: 0
}
.gb_eb a: last-child {
    margin-right: 0
}
.gb_hb .gb_nb {
    background: #4d90fe;
    border-color: #3079ed;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #fff
}
#gb .gb_hb a.gb_nb.gb_nb {
    color: #fff
}
.gb_hb .gb_nb: hover {
    background: #357ae8;
    border-color: #2f5bb7
}
.gb_ob {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    padding: 10px 0;
    width: 100%;
    display: table
}
.gb_ob .gb_nb {
    margin: 0 20px
}
.gb_ob>div {
    display: table-cell;
    text-align: right
}
.gb_ob>div: first-child {
    text-align: left
}
.gb_ob .gb_pb {
    display: block;
    text-align: center
}
.gb_qb .gb_ab {
    border-bottom-color: #fef9db
}
.gb_rb {
    background: #fef9db;
    font-size: 11px;
    padding: 10px 20px;
    white-space: normal
}
.gb_rb b,.gb_db {
    white-space: nowrap
}
.gb_sb {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-top-color: rgba(0,0,0,.2);
    max-height: 230px;
    overflow: auto
}
.gb_tb {
    border-top: 1px solid #ccc;
    border-top-color: rgba(0,0,0,.2);
    display: block;
    padding: 10px 20px
}
.gb_ub .gb_tb: focus .gb_vb {
    outline: 1px dotted #fff
}
.gb_tb: hover {
    background: #eee
}
.gb_tb: first-child,.gb_wb: first-child+.gb_tb {
    border-top: 0
}
.gb_wb {
    display: none
}
.gb_xb {
    cursor: default
}
.gb_xb: hover {
    background: transparent
}
.gb_yb {
    border: none;
    vertical-align: top;
    height: 48px;
    width: 48px
}
.gb_vb {
    display: inline-block;
    margin: 6px 0 0 10px
}
.gb_xb .gb_yb,.gb_xb .gb_vb {
    opacity: .4
}
.gb_zb {
    color: #000
}
.gb_xb .gb_zb {
    color: #666
}
.gb_Ab {
    color: #666
}
.gb_Bb {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-top-color: rgba(0,0,0,.2);
    display: block;
    padding: 10px 20px
}
.gb_Cb {
    background-position: -60px -2288px;
    display: inline-block;
    margin: 1px 0;
    vertical-align: middle;
    height: 25px;
    width: 25px
}
.gb_N .gb_Cb: : before {
    left: -60px;
    top: -2288px
}
.gb_Db {
    color: #427fed;
    display: inline-block;
    padding: 0 25px 0 10px;
    vertical-align: middle;
    white-space: normal
}
.gb_Bb: hover .gb_Db {
    text-decoration: underline
}
.gb_Ie {
    color: #000;
    font: 13px/27px Arial,sans-serif;
    left: 0;
    min-width: 1177px;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    width: 100%
}
.gb_Sd {
    font: 13px/27px Arial,sans-serif;
    position: relative;
    height: 60px;
    width: 100%
}
.gb_1a .gb_Sd {
    height: 28px
}
#gba {
    height: 60px
}
#gba.gb_1a {
    height: 28px
}
#gba.gb_Je {
    height: 90px
}
#gba.gb_Je.gb_1a {
    height: 58px
}
.gb_Sd>.gb_R {
    height: 60px;
    line-height: 58px;
    vertical-align: middle
}
.gb_1a .gb_Sd>.gb_R {
    height: 28px;
    line-height: 26px
}
.gb_Sd: : before {
    background: #e5e5e5;
    bottom: 0;
    content: '';
    display: none;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}
.gb_Sd {
    background: #f1f1f1
}
.gb_Ke .gb_Sd {
    background: #fff
}
.gb_Ke .gb_Sd: : before,.gb_1a .gb_Sd: : before {
    display: none
}
.gb_fa .gb_Sd,.gb_X .gb_Sd,.gb_1a .gb_Sd {
    background: transparent
}
.gb_fa .gb_Sd: : before {
    background: #e1e1e1;
    background: rgba(0,0,0,.12)
}
.gb_X .gb_Sd: : before {
    background: #333;
    background: rgba(255,255,255,.2)
}
.gb_R {
    display: inline-block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex: 0 0 main-size;
    flex: 0 0 main-size
}
.gb_R.gb_Le {
    float: right;
    -webkit-order: 1;
    order: 1
}
.gb_Me {
    white-space: nowrap
}
.gb_T .gb_Me {
    display: -webkit-flex;
    display: flex
}
.gb_Me,.gb_R {
    margin-left: 0!important;
    margin-right: 0!important
}
.gb_Nb {
    background-image: url('http://localhost/yii/frontend/views/layouts/pic/logo.png');
    -webkit-background-size: 175px 2460px;
    background-size: 175px 2460px
}
@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gb_Nb {
    background-image: url('http://localhost/yii/frontend/views/layouts/pic/logo.png')
}
}.gb_9a: not(.gb_N) .gb_Za: : before,.gb_9a: not(.gb_N) .gb_jb: : before {
    content: none
}
.gb_N .gb_Lb .gb_Nb: : before {
    left: 0;
    top: -1904px
}
.gb_N.gb_X .gb_Lb .gb_Nb: : before {
    left: 0;
    top: -311px
}
.gb_N.gb_fa .gb_Lb .gb_Nb: : before {
    left: 0;
    top: -2358px
}
.gb_N .gb_Ob {
    background-image: none!important
}
.gb_N .gb_Pb {
    visibility: visible
}
.gb_ub .gb_Jc span {
    background: transparent
}
.gb_Ib {
    min-width: 152px;
    overflow: hidden;
    position: relative;
    z-index: 987
}
.gb_Jb {
    position: absolute;
    padding: 0 30px 0 30px
}
.gb_Kb .gb_Jb {
    right: 100%;
    margin-right: -152px
}
.gb_Lb {
    display: inline-block;
    outline: none;
    vertical-align: middle
}
.gb_Mb .gb_Lb {
    position: relative;
    top: 2px
}
.gb_Lb .gb_Nb,.gb_Ob {
    display: block
}
.gb_Pb {
    border: none;
    display: block;
    visibility: hidden
}
.gb_Lb .gb_Nb {
    background-position: 0 -1904px;
    height: 33px;
    width: 175px
}
.gb_Ob {
    background-repeat: no-repeat
}
.gb_X .gb_Lb .gb_Nb {
    background-position: 0 -311px
}
.gb_fa .gb_Lb .gb_Nb {
    background-position: 0 -2358px;
    opacity: .54
}
@-webkit-keyframes gb__nb {
    0% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0)
}
20% {
    -webkit-transform: scale(1.4,1.4);
    transform: scale(1.4,1.4)
}
50% {
    -webkit-transform: scale(.8,.8);
    transform: scale(.8,.8)
}
85% {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1)
}
to {
    -webkit-transform: scale(1.0,1.0);
    transform: scale(1.0,1.0)
}
}@keyframes gb__nb {
    0% {
    -webkit-transform: scale(0,0);
    transform: scale(0,0)
}
20% {
    -webkit-transform: scale(1.4,1.4);
    transform: scale(1.4,1.4)
}
50% {
    -webkit-transform: scale(.8,.8);
    transform: scale(.8,.8)
}
85% {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1)
}
to {
    -webkit-transform: scale(1.0,1.0);
    transform: scale(1.0,1.0)
}
}.gb_ac {
    background-position: -35px -1247px;
    opacity: .55;
    height: 100%;
    width: 100%
}
.gb_b: hover .gb_ac,.gb_b: focus .gb_ac {
    opacity: .85
}
.gb_bc .gb_ac {
    background-position: -35px -2323px
}
.gb_cc {
    background-color: #cb4437;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: bold 11px Arial;
    color: #fff;
    line-height: 16px;
    min-width: 14px;
    padding: 0 1px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    top: 0;
    visibility: hidden;
    z-index: 990
}
.gb_dc .gb_cc,.gb_dc .gb_ec,.gb_dc .gb_ec.gb_fc {
    visibility: visible
}
.gb_ec {
    padding: 0 2px;
    visibility: hidden
}
.gb_gc: not(.gb_hc) .gb_bb,.gb_gc: not(.gb_hc) .gb_ab {
    left: 3px
}
.gb_cc.gb_ic {
    -webkit-animation: gb__nb .6s 1s both ease-in-out;
    animation: gb__nb .6s 1s both ease-in-out;
    -webkit-perspective-origin: top right;
    perspective-origin: top right;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transform-origin: top right;
    transform-origin: top right
}
.gb_ic .gb_ec {
    visibility: visible
}
.gb_fa .gb_b .gb_ac {
    background-position: 0 -2323px;
    opacity: .7
}
.gb_fa .gb_bc .gb_ac {
    background-position: 0 -1247px
}
.gb_fa .gb_b: hover .gb_ac,.gb_fa .gb_b: focus .gb_ac {
    opacity: .85
}
.gb_X .gb_b .gb_ac {
    background-position: 0 -901px;
    opacity: 1
}
.gb_X .gb_bc .gb_ac {
    background-position: 0 -1212px
}
.gb_fa .gb_cc,.gb_X .gb_cc {
    border: none
}
.gb_gc .gb_jc {
    font-size: 14px;
    font-weight: bold;
    top: 0;
    right: 0
}
.gb_gc .gb_b {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px
}
.gb_gc .gb_ab {
    border-bottom-color: #e5e5e5
}
.gb_kc {
    background-color: rgba(0,0,0,.55);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px;
    padding: 0 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px
}
.gb_kc.gb_lc {
    background-position: -69px -104px
}
.gb_kc.gb_mc {
    background-position: -35px -2288px
}
.gb_b: hover .gb_kc,.gb_b: focus .gb_kc {
    background-color: rgba(0,0,0,.85)
}
#gbsfw.gb_nc {
    background: #e5e5e5;
    border-color: #ccc
}
.gb_fa .gb_kc {
    background-color: rgba(0,0,0,.7)
}
.gb_X .gb_kc.gb_kc,.gb_X .gb_dc .gb_kc.gb_kc,.gb_X .gb_dc .gb_b: hover .gb_kc,.gb_X .gb_dc .gb_b: focus .gb_kc {
    background-color: #fff;
    color: #404040
}
.gb_X .gb_kc.gb_lc {
    background-position: -69px -173px
}
.gb_X .gb_kc.gb_mc {
    background-position: 0 -1627px
}
.gb_dc .gb_kc.gb_kc {
    background-color: #db4437;
    color: #fff
}
.gb_dc .gb_b: hover .gb_kc,.gb_dc .gb_b: focus .gb_kc {
    background-color: #a52714
}
.gb_dc .gb_kc.gb_mc {
    background-position: -35px -2288px
}
.gb_N .gb_ac: : before {
    left: -35px;
    top: -1247px
}
.gb_N .gb_bc .gb_ac: : before {
    left: -35px;
    top: -2323px
}
.gb_N.gb_fa .gb_b .gb_ac: : before {
    left: 0;
    top: -2323px
}
.gb_N.gb_fa .gb_bc .gb_ac: : before {
    left: 0;
    top: -1247px
}
.gb_N.gb_X .gb_b .gb_ac: : before {
    left: 0;
    top: -901px
}
.gb_N.gb_X .gb_bc .gb_ac: : before {
    left: 0;
    top: -1212px
}
.gb_ub .gb_kc {
    border: 1px solid #fff;
    color: #fff
}
.gb_ub.gb_fa .gb_kc {
    border-color: #000;
    color: #000
}
.gb_N .gb_kc.gb_lc: : before,.gb_ub.gb_N.gb_X .gb_kc.gb_lc: : before {
    left: -69px;
    top: -104px
}
.gb_N .gb_kc.gb_mc: : before,.gb_ub.gb_N.gb_X .gb_kc.gb_mc: : before {
    left: -35px;
    top: -2288px
}
.gb_N.gb_X .gb_kc.gb_lc: : before,.gb_ub.gb_N.gb_fa .gb_kc.gb_lc: : before {
    left: -69px;
    top: -173px
}
.gb_N.gb_X .gb_kc.gb_mc: : before,.gb_ub.gb_N.gb_fa .gb_kc.gb_mc: : before {
    left: 0;
    top: -1627px
}
.gb_sc {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 19px;
    padding-top: 5px;
    padding-left: 12px;
    position: relative;
    background-color: #4d90fe
}
.gb_sc .gb_tc {
    color: #ffffff;
    cursor: default;
    font-size: 22px;
    font-weight: normal;
    position: absolute;
    right: 12px;
    top: 5px
}
.gb_sc .gb_uc,.gb_sc .gb_vc {
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    margin-left: 16px;
    padding: 0 8px;
    white-space: nowrap
}
.gb_wc {
    background: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.16)),to(rgba(0,0,0,0.2)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    background-image: linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.16),rgba(0,0,0,0.2));
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: default!important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#160000ff,endColorstr=#220000ff);
    text-decoration: none!important;
    -webkit-border-radius: 2px
}
.gb_wc: hover {
    background: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.14)),to(rgba(0,0,0,0.2)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    background-image: linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.14),rgba(0,0,0,0.2));
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#22000000)
}
.gb_wc: active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
}
.gb_Vc.gb_zd {
    padding: 0
}
.gb_zd .gb_ga {
    padding: 26px 26px 22px 13px;
    background: #ffffff
}
.gb_Ad.gb_zd .gb_ga {
    background: #4d90fe
}
a.gb_Bd {
    color: #666666!important;
    font-size: 22px;
    height: 9px;
    opacity: .8;
    position: absolute;
    right: 14px;
    top: 4px;
    text-decoration: none!important;
    width: 9px
}
.gb_Ad a.gb_Bd {
    color: #c1d1f4!important
}
a.gb_Bd: hover,a.gb_Bd: active {
    opacity: 1
}
.gb_Cd {
    padding: 0;
    width: 258px;
    white-space: normal;
    display: table
}
.gb_Ad .gb_Cd {
    width: 200px
}
.gb_Dd {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 16px
}
.gb_Ad .gb_Dd {
    color: #ffffff
}
.gb_Ed {
    color: #666666;
    line-height: 17px;
    margin: 0;
    margin-bottom: 5px
}
.gb_Ad .gb_Ed {
    color: #ffffff
}
.gb_Fd {
    position: absolute;
    background: transparent;
    top: -999px;
    z-index: -1;
    visibility: hidden;
    margin-top: 1px;
    margin-left: 1px
}
#gb .gb_zd {
    margin: 0
}
.gb_zd .gb_nb {
    background: #4d90fe;
    border-color: #3079ed;
    margin-top: 15px
}
#gb .gb_zd a.gb_nb.gb_nb {
    color: #ffffff
}
.gb_zd .gb_nb: hover {
    background: #357ae8;
    border-color: #2f5bb7
}
.gb_Hd .gb_jc .gb_ab {
    border-bottom-color: #ffffff;
    display: block
}
.gb_Id .gb_jc .gb_ab {
    border-bottom-color: #4d90fe;
    display: block
}
.gb_Hd .gb_jc .gb_bb,.gb_Id .gb_jc .gb_bb {
    display: block
}
.gb_Jd,.gb_Kd {
    display: table-cell
}
.gb_Jd {
    vertical-align: middle
}
.gb_Kd {
    padding-left: 13px;
    width: 100%
}
.gb_Ld {
    margin-bottom: 32px;
    font-size: small
}
.gb_Ld .gb_Md {
    margin-right: 5px
}
.gb_Ld .gb_Nd {
    color: red
}
.gb_rc {
    display: none
}
.gb_rc.gb_g {
    display: block
}
.gb_Od {
    position: relative;
    width: 650px;
    z-index: 986
}
#gbq2 {
    padding-top: 15px
}
.gb_T .gb_Od {
    min-width: 200px;
    -webkit-flex: 0 2 auto;
    flex: 0 2 auto;
    -webkit-flex: 0 2 main-size;
    flex: 0 2 main-size
}
.gb_V~.gb_Od {
    min-width: 0
}
.gb_T #gbqf {
    margin-right: 0;
    display: -webkit-flex;
    display: flex
}
.gb_T .gbqff {
    min-width: 0;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex: 1 1 main-size;
    flex: 1 1 main-size
}
.gb_N .gbqfi: : before {
    left: 0;
    top: -1942px
}
.gb_ub .gbqfb: focus .gbqfi {
    outline: 1px dotted #fff
}
#gbq2 {
    display: block
}
#gbqf {
    display: block;
    margin: 0;
    margin-right: 60px;
    white-space: nowrap
}
.gbqff {
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%
}
.gbqfqw,#gbqfb,.gbqfwa {
    vertical-align: top
}
#gbqfaa,#gbqfab,#gbqfqwb {
    position: absolute
}
#gbqfaa {
    left: 0
}
#gbqfab {
    right: 0
}
.gbqfqwb,.gbqfqwc {
    right: 0;
    left: 0;
    height: 100%
}
.gbqfqwb {
    padding: 0 8px
}
#gbqfbw {
    display: inline-block;
    vertical-align: top
}
#gbqfb {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 0 0;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1)
}
#gbqfb: hover {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15)
}
#gbqfb: focus {
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff
}
#gbqfb: hover: focus {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff
}
#gbqfb: active: active {
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15);
    background: #3c78dc;
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
    background: linear-gradient(top,#3c7ae4,#3f76d3);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=1)
}
.gbqfi {
    background-position: 0 -1942px;
    display: inline-block;
    margin: -1px;
    height: 30px;
    width: 30px
}
.gbqfqw {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    border-right-width: 0;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
#gbfwc .gbqfqw {
    border-right-width: 1px
}
#gbqfqw {
    position: relative
}
.gbqfqw.gbqfqw: hover {
    border-color: #a9a9a9;
    border-color: rgba(0,0,0,.3)
}
.gbqfwa {
    display: inline-block;
    width: 100%
}
.gbqfwb {
    width: 40%
}
.gbqfwc {
    width: 60%
}
.gbqfwb .gbqfqw {
    margin-left: 10px
}
.gbqfqw.gbqfqw: active,.gbqfqw.gbqfqwf.gbqfqwf {
    border-color: #4285f4
}
#gbqfq,#gbqfqb,#gbqfqc {
    background: transparent;
    border: none;
    height: 20px;
    margin-top: 4px;
    padding: 0;
    vertical-align: top;
    width: 100%
}
#gbqfq: focus,#gbqfqb: focus,#gbqfqc: focus {
    outline: none
}
.gbqfif,.gbqfsf {
    color: #222;
    font: 16px arial,sans-serif
}
#gbqfbwa {
    display: none;
    text-align: center;
    height: 0
}
#gbqfbwa .gbqfba {
    margin: 16px 8px
}
#gbqfsa,#gbqfsb {
    font: bold 11px/27px Arial,sans-serif!important;
    vertical-align: top
}
.gb_fa .gbqfqw.gbqfqw,.gb_X .gbqfqw.gbqfqw {
    border-color: rgba(255,255,255,1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2)
}
.gb_fa #gbqfb,.gb_X #gbqfb {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2)
}
.gb_fa #gbqfb: hover,.gb_X #gbqfb: hover {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}
.gb_fa #gbqfb: active,.gb_X #gbqfb: active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.2)
}
.gbqfb,.gbqfba,.gbqfbb {
    cursor: default!important;
    display: inline-block;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none!important;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none
}
.gbqfba: focus {
    border: 1px solid #4d90fe;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff
}
.gbqfba: hover {
    border-color: #c6c6c6;
    color: #222!important;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background: #f8f8f8;
    background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background: linear-gradient(top,#f8f8f8,#f1f1f1);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8,endColorstr=#f1f1f1,GradientType=1)
}
.gbqfba: hover: focus {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff
}
.gbqfb: : -moz-focus-inner {
    border: 0
}
.gbqfba: : -moz-focus-inner {
    border: 0
}
.gbqfba {
    border: 1px solid #dcdcdc;
    border-color: rgba(0,0,0,0.1);
    color: #444!important;
    font-size: 11px;
    background: #f5f5f5;
    background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: linear-gradient(top,#f5f5f5,#f1f1f1);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1)
}
.gbqfba: active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}
.gb_Pd .gb_b {
    background-position: 0 -2288px;
    opacity: .55;
    height: 30px;
    width: 30px
}
.gb_Pd .gb_b: hover,.gb_Pd .gb_b: focus {
    opacity: .85
}
.gb_Pd .gb_ab {
    border-bottom-color: #f5f5f5
}
#gbsfw.gb_Qd {
    background: #f5f5f5;
    border-color: #ccc
}
.gb_X .gb_Pd .gb_b {
    background-position: -35px -901px;
    opacity: 1
}
.gb_fa .gb_Pd .gb_b {
    background-position: 0 -2115px;
    opacity: .7
}
.gb_fa .gb_Pd .gb_b: hover,.gb_fa .gb_Pd .gb_b: focus {
    opacity: .85
}
.gb_N .gb_Pd .gb_b: : before {
    left: 0;
    top: -2288px
}
.gb_N.gb_fa .gb_Pd .gb_b: : before {
    left: 0;
    top: -2115px
}
.gb_N.gb_X .gb_Pd .gb_b: : before {
    left: -35px;
    top: -901px
}
.gb_ce {
    width: 480px
}
.gb_de {
    background: #e7e7e7;
    background: rgba(0,0,0,.04);
    border-bottom-right-radius: 0;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 100%
}
.gb_de: hover {
    background: #dbdbdb;
    background: rgba(0,0,0,.08)
}
.gb_de .gb_ee {
    margin: 0 10px
}
.gb_fe {
    position: relative;
    z-index: 1
}
.gb_ge {
    background: #eee;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    width: 160px
}
.gb_fe .gb_ge: first-child {
    border-left: none
}
.gb_fe .gb_g {
    background: #fff;
    border-bottom: none
}
.gb_he {
    display: none;
    text-align: center
}
.gb_he.gb_g {
    display: block
}
.gb_ie {
    color: inherit;
    display: inline-block;
    padding: 15px;
    text-decoration: none
}
.gb_je {
    background-clip: content-box;
    background-origin: content-box;
    display: inherit;
    height: 64px;
    width: 64px
}
.gb_ke {
    display: block;
    text-align: center
}
.gb_le {
    border-top: none;
    top: 78px;
    z-index: 1;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px
}
.gb_me {
    display: inline-block;
    vertical-align: middle
}
.gb_ne {
    display: inline-block;
    vertical-align: middle;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 20px;
    width: 20px
}
.gb_oe {
    background-image: url('//ssl.gstatic.com/gb/images/a/5a1c013d3d.png')
}
.gb_pe {
    background-image: url('//ssl.gstatic.com/gb/images/a/de580e5330.png')
}
.gb_qe {
    background-image: url('//ssl.gstatic.com/gb/images/a/451603daf6.png')
}
.gb_me {
    margin-left: 4px
}
.gb_re {
    margin: 5px;
    width: 470px
}
.gb_se {
    border: none;
    display: block;
    margin: 0 5px;
    outline: none;
    padding: 0 5px;
    height: 30px;
    width: 450px
}
.gb_te {
    border: none;
    display: block;
    margin: 0 5px;
    outline: none;
    padding: 0 5px;
    height: 30px;
    width: 450px;
    border-top: 1px solid #e3e3e3
}
.gb_ue {
    border-color: #e3e3e3;
    display: block;
    font: inherit;
    margin: 0 5px;
    outline: none;
    padding: 5px;
    text-align: left;
    height: 320px;
    width: 450px
}
.gb_ve,.gb_we {
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    line-height: 27px;
    margin: 5px;
    padding: 0 8px;
    width: 54px
}
.gb_ve {
    float: left
}
.gb_we {
    float: right
}
.gb_9a {
    min-width: 315px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    z-index: 986;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-user-select: none
}
.gb_1a .gb_9a {
    min-width: 0
}
.gb_9a.gb_R {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex: 1 1 main-size;
    flex: 1 1 main-size
}
.gb_8b {
    line-height: normal;
    position: relative;
    text-align: left
}
.gb_8b.gb_R,.gb_xe.gb_R,.gb_2a.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size
}
.gb_ye,.gb_ze {
    display: inline-block;
    padding: 0 0 0 15px;
    position: relative;
    vertical-align: middle
}
.gb_xe {
    line-height: normal;
    padding-right: 15px
}
.gb_9a .gb_xe.gb_U {
    padding-right: 0
}
.gb_2a {
    color: #404040;
    line-height: 30px;
    min-width: 30px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis
}
#gb.gb_1a.gb_1a .gb_4d,#gb.gb_1a.gb_1a .gb_8b>.gb_ze .gb_5d {
    background: none;
    border: none;
    color: #36c;
    cursor: pointer;
    filter: none;
    font-size: 11px;
    line-height: 26px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
#gb.gb_1a.gb_X .gb_4d,#gb.gb_1a.gb_X .gb_8b>.gb_ze .gb_5d {
    color: #fff
}
.gb_1a .gb_4d {
    text-transform: uppercase
}
.gb_9a.gb_V {
    padding-left: 0;
    padding-right: 29px
}
.gb_9a.gb_Ae {
    max-width: 400px
}
.gb_Be {
    background-clip: content-box;
    background-origin: content-box;
    opacity: .27;
    padding: 22px;
    height: 16px;
    width: 16px
}
.gb_Be.gb_R {
    display: none
}
.gb_Be: hover,.gb_Be: focus {
    opacity: .55
}
.gb_Ce {
    background-position: -69px -1420px
}
.gb_De {
    background-position: 0 -1506px;
    padding-left: 30px;
    padding-right: 14px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 990
}
.gb_5a: not(.gb_7a) .gb_De,.gb_V .gb_Ce {
    display: inline-block
}
.gb_5a .gb_Ce {
    padding-left: 30px;
    padding-right: 0;
    width: 0
}
.gb_5a: not(.gb_7a) .gb_Ee {
    display: none
}
.gb_9a.gb_R.gb_V,.gb_V: not(.gb_7a) .gb_8b {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex: 0 0 main-size;
    flex: 0 0 main-size
}
.gb_Be,.gb_V .gb_xe,.gb_7a .gb_8b {
    overflow: hidden
}
.gb_5a .gb_xe {
    padding-right: 0
}
.gb_V .gb_8b {
    padding: 1px 1px 1px 0
}
.gb_5a .gb_8b {
    width: 75px
}
.gb_9a.gb_Fe,.gb_9a.gb_Fe .gb_Ce,.gb_9a.gb_Fe .gb_Ce: : before,.gb_9a.gb_Fe .gb_xe,.gb_9a.gb_Fe .gb_8b {
    -webkit-transition: width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out;
    transition: width .5s ease-in-out,min-width .5s ease-in-out,max-width .5s ease-in-out,padding .5s ease-in-out,left .5s ease-in-out
}
.gb_T .gb_9a {
    min-width: 0
}
.gb_9a.gb_W,.gb_9a.gb_W .gb_8b,.gb_9a.gb_He,.gb_9a.gb_He .gb_8b {
    min-width: 0!important
}
.gb_9a.gb_W,.gb_9a.gb_W .gb_R {
    -webkit-flex: 0 0 auto!important;
    -webkit-box-flex: 0 0 auto!important;
    -webkit-flex: 0 0 auto!important;
    flex: 0 0 auto!important
}
.gb_9a.gb_W .gb_2a {
    width: 30px!important
}
.gb_N .gb_Ce: : before {
    clip: rect(1420px 85px 1436px 69px);
    left: -47px;
    top: -1398px
}
.gb_N .gb_Nb.gb_De {
    position: absolute
}
.gb_N .gb_De: : before {
    clip: rect(1506px 16px 1522px -0);
    left: 30px;
    top: -1484px
}
.gb_N .gb_5a .gb_Ce: : before {
    left: -39px
}
@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gb_N .gb_Ce: : before {
    clip: rect(2840px 170px 2872px 138px)
}
.gb_N .gb_De: : before {
    clip: rect(3012px 32px 3044px -0)
}
}.gb_N .gb_Nb,.gb_N .gbii,.gb_N .gbip {
    background-image: none;
    overflow: hidden;
    position: relative
}
.gb_N .gb_Nb: : before {
    content: url('//ssl.gstatic.com/gb/images/v1_4593b7d7.png');
    position: absolute
}
@media (min-resolution: 1.25dppx),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gb_N .gb_Nb: : before {
    content: url('//ssl.gstatic.com/gb/images/v2_75874709.png');
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}
}.gb_ub a: focus {
    outline: 1px dotted #fff!important
}
.gb_1a#gb {
    left: auto;
    right: 0;
    width: auto
}
sentinel {
    }
#gbq .gbgt-hvr,#gbq .gbgt: focus {
    background-color: transparent;
    background-image: none
}
.gbqfh#gbq1 {
    display: none
}
.gbxx {
    display: none !important
}
#gbq {
    line-height: normal;
    position: relative;
    top: 0px;
    white-space: nowrap
}
#gbq {
    left: 0;
    width: 100%
}
#gbq2 {
    top: 0px;
    z-index: 986
}
#gbq4 {
    display: inline-block;
    max-height: 29px;
    overflow: hidden;
    position: relative
}
.gbqfh#gbq2 {
    z-index: 985
}
.gbqfh#gbq2 {
    margin: 0;
    margin-left: 0 !important;
    padding-top: 0;
    position: relative;
    top: 310px
}
.gbqfh #gbqf {
    margin: auto;
    min-width: 534px;
    padding: 0 !important
}
.gbqfh #gbqfbw {
    display: none
}
.gbqfh #gbqfbwa {
    display: block
}
.gbqfh #gbqf {
    max-width: 512px;
    min-width: 200px
}
.gbqfh .gbqfqw {
    border-right-width: 1px
}
.gbii: : before {
    content: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s32-c-mo/photo.jpg);
    position: absolute
}
.gbip: : before {
    content: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s96-c-mo/photo.jpg);
    position: absolute
}
@media (min-resolution: 1.25dppx),(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gbii: : before {
    content: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s64-c-mo/photo.jpg)
}
.gbip: : before {
    content: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s192-c-mo/photo.jpg)
}
}
.gbii {
    background-image: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s32-c-mo/photo.jpg)
}
.gbip {
    background-image: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s96-c-mo/photo.jpg)
}
@media (min-resolution: 1.25dppx),(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-device-pixel-ratio: 1.25) {
    .gbii {
    background-image: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s64-c-mo/photo.jpg)
}
.gbip {
    background-image: url(//lh4.googleusercontent.com/-kGk7JO86wdY/AAAAAAAAAAI/AAAAAAAAAAA/V8w-rbIl3Zc/s192-c-mo/photo.jpg)
}
}
